<div class="container mt-5">
  <h1>¡Bienvenido, <%= @user.first_name %> <%= @user.last_name %>!</h1><br/>
  <div class="container">
    <div class="border rounded-3 shadow p-3 bg-light" style="max-width: 400px;">
      <div class="mb-3">
        <label for="userEmail" class="form-label">Tu email</label>
        <input type="text" id="userEmail" class="form-control" value="<%= current_user.email %>" readonly>
      </div>

      <div class="mb-3">
        <label for="userName" class="form-label">Tu nombre y apellidos</label>
        <input type="text" id="userName" class="form-control" value="<%= current_user.first_name %> <%= current_user.last_name %>" readonly>
      </div>

    </div>
  </div>

  <div class="container" style="margin-top: 50px;">
  <div class="row">
    <div class="col-md-6">
      <% if current_user.appointments.any? %>
        <h2>Tus citas programadas</h2><br/>
        <% current_user.appointments.where("scheduled_at > ?", Time.current).each do |appointment| %>
          <div class="border rounded-3 shadow p-3" style="height: 100px; border: 1px solid #ccc; padding: 12px; margin-bottom: 10px; display: flex; align-items: center; gap: 10px; border-radius: 6px; width: 400px; background-color: #f8f9fa;">
            <%= image_tag "logo.png", alt: "Barber app", style: "width: 60px; height: 60px; object-fit: contain;" %>
            <div>
              <p style="margin: 0; font-weight: bold;">
                <span style="font-weight: bold;">
                  <%= l(appointment.scheduled_at, format: "%A, %-d de %B a las %H:%M").capitalize %>
                </span>
              </p>
              <div>
                <%= button_to "Cancelar cita", appointment_path(appointment), method: :delete, data: { confirm: "¿Estás seguro de que deseas cancelar esta cita?" }, class: "btn btn-sm btn-danger", style: "margin-top: 10px;" %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <h2>No tienes citas programadas</h2>
      <% end %>
    </div>

    <div class="col-md-6">
      <% past_appointments = current_user.appointments.where("scheduled_at <= ?", Time.current) %>
      <% if past_appointments.any? %>
        <h2>Tus citas pasadas</h2><br/>
        <% past_appointments.each do |appointment| %>
          <div class="border rounded-3 shadow p-3" style="height: 100px; border: 1px solid #ccc; padding: 12px; margin-bottom: 10px; display: flex; align-items: center; gap: 10px; border-radius: 6px; width: 400px; background-color: #f8f9fa;">
            <%= image_tag "logo.png", alt: "Barber app", style: "width: 60px; height: 60px; object-fit: contain;" %>
            <div>
              <p style="margin: 0; font-weight: bold;">
                <span style="font-weight: bold;">
                  <%= l(appointment.scheduled_at, format: "%A, %-d de %B a las %H:%M").capitalize %>
                </span>
              </p>
            </div>
          </div>
        <% end %>
      <% else %>
        <h2>No tienes citas pasadas</h2><br/>
      <% end %>
    </div>
  </div>
</div>

</div>
