<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Barber App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <%= image_tag "logo.png", alt: "Barber app", height: 40 %>
        </a>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Página principal</a>
            </li>
          </ul>
        <div class="d-flex ms-auto gap-2">
          <a href="#" class="btn btn-outline-light">Login</a>
          <a href="#" class="btn btn-outline-light">Registro</a>
        </div>
      </div>
    </nav>
  </body>
</html>
